sudo: false

language: ruby

services:
  - redis

cache:
  bundler: true
  directories:
    - node_modules # NPM packages
  yarn: true

addons:
  code_climate:
    repo_token:
      secure: a5Jno6OD8qzSoujHNIE7EHneQ+xfowN7H6gQg8wSyy/2JFlsz244+RYvLB3ZWJALuL5JOQy5LzReYG5TToy5HZiqlCMcJn/ZtmYmAf73jdjj9skS1zFlLjkzV43WQYaXKoIjsM3Kd0+kUCwoj6PxiJCsPn2c14Yd790lUcg4t0SdITshCHVCLDLx+9zP8RHCNBvAXJ91rIgqAp71Iuy3a1wypM6jLdZTs8sxLcCcwygD+mfzYDi9N1PU0T/vLLXpRhhwyRxv4OpgRbFiLXWnAqKYOUHhAFK7WOly42V4NI43huyFaZXRys9Ke9cyqW7PcIvqu49Led75cLC4NDe7SjQmNHrXfxwVaCnf1YPmuq5G4ws5ckYzOraHXqqN3vhDmdQlzok6j84uKtWL1BT7tH8x7fN1KXUnl2kR9ux4SRfZ2ikR6EgbjrU1v35DGorwOnBkqrATl5uL2kukLEPxOLPKZGfcN7P/ipaq1k8deT1h8bFSXUsmXhL8tNqyLOFJG2OyQMEu/5IV25X6uF3JDmaKeK4diRxSLwt1LeiB2rx2ZkVm3ebkAjtEV+sUkDSnXFY9e7dN3TQnWlUCZGrsPYgy6T6NEIBTCKEi+e7FT0fbTudhESsSmxvswoO3Lxhe5y/wpCH1XhSZOzsDI4SnluBa0S1+k+wPNU2BFdBY2Wo=

before_script:
  - bundle exec rake db:test:prepare

notifications:
  email: false
  slack:
    secure: Zf8G48cnR7GW1usxKEpXrilgk9Hx7tD8NU5FFkTWWCT+2GHeIWVYgN2d183hq+hEeNdKRP4w+xEKOXMtfq0YHEr3RfDI8HK0L/fza1ybOnIpCFd6ZbSuCTuXcLtPRen7W1EvSCpMlioc9f7BI95kp2KSJtV7NHVwkNXUkLWGoN8bC/0Kx8BXVinboq9z0yjMTmhX9ek9Rk18b4GKUXMvPeIStXuVCqqaPD1klImQ3iYa2FdC7WgRIIqezJGzHm5Kdp6zeI6SBsJmMn9QrsQBmmmyqsLI5vwmJ/kPJelLo2T4m2onLz/Tor3GWUyrJ6FA5pChS39JVINyspdVc432y1MqnYlMvSWDh+N/+slWwLbPCHezKdPxC3LeZ3MjzPPP8fDaMvGIMdH03eyTC8+9SNzsxG+vdrxzc4o8nzKzh8bIVOHOpAzv5Mq8hRlXeHpfwZESFi1sB5TxcXXoS9EZOecjghdrBxBMD4rPWhn2uxqtNwpWXRbojrd3Ak5mh/i6zHNTDJEmy/UDy0GXRrfMB1PNZaOVOR/Bzm4TxxL8XPDwgP4vA8UKf1BOcmYn8TLH4m/Y4W2LdLKBSHrJii37nzJuWzvO5NK2bo4Q6uiFkqXx/Sk/UhVKsCGCRrObjqKXM1w4q/ayzZGTjQtheLfS3IaxKZHng+9YY+tj0vIv5Vc=

after_success:
  - bundle exec codeclimate-test-reporter
