/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize.css
 *= require danmaku
 *= require rc-slider
 *= require_tree .
 *= require_self
 */

$futuristic-blue-background: #3a86b7;
$futuristic-blue-border: #19a5ff;
$futuristic-blue-text: #009bff;
$futuristic-blue-4: #b26900;
$futuristic-blue-5: #ff9500;

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0a;
  color: #fefefe;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  box-sizing: border-box;
  border: 1px solid #888;
  background-color: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

input {
  box-sizing: border-box;
  padding: 0.5rem;
  color: inherit;

  &::placeholder {
    color: #cacaca;
  }

  &:focus {
    outline: none;
  }
}

a {
  color: $futuristic-blue-text;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: lighten($futuristic-blue-text, 20%);
  }
}

th,
td {
  padding: 0.5em;
  background-color: transparentize(darken($futuristic-blue-border, 50%), 0.5);
  border: 1px solid $futuristic-blue-border;
}

th > *,
td > * {
  vertical-align: middle;
}
