#danmaku-history-overlay {
  transition: all 0.1s linear;

  li {
    line-height: 1.6;
    white-space: nowrap;

    span {
      display: inline-block;
      padding-left: 0.5em;
      padding-right: 3em;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 80%, transparent);
    }
  }
}

.danmaku {
  position: fixed;
  font-size: 2em;
  font-weight: bold;
  transform: translateX(100vw);
  will-change: transform;
}
