#danmaku-history-overlay {
  transition: all .1s linear;
  visibility: hidden;
  opacity: 0;

  &:focus {
    visibility: visible;
    opacity: 1.0;
  }

  li {
    font-size: larger;
    white-space: nowrap;

    span {
      display: inline-block;
      padding-left: .5em;
      padding-right: 3em;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 80%, transparent);
    }
  }
}

#danmaku-form:focus #danmaku-history-overlay,
#danmaku-input:focus + #danmaku-history-overlay {
  visibility: visible;
  opacity: 1.0;
}

.danmaku {
  position: fixed;
  font-size: 1.5em;
  font-weight: bold;
  transform: translateX(100vw);
}
