// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[id^="DenpaioApp-react-component"] {
  width: 100%;
  height: 100%;
}

#denpaio-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: transform 100ms linear;

  &::before {
    content: '';
    position: fixed;
    background-image: image-url('bg_line.png');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
  }

  #visualizer_render {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .player {
    position: relative; /* Fix z-index of Safari */
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;

    & > * {
      vertical-align: middle;
    }
  }

  .container {
    position: relative; /* Fix z-index of Safari */
    flex: 1;
    z-index: 1;
    overflow: auto;

    .close-button {
      position: fixed;
      right: 0;
      margin: 0.25em;
      padding: 0.05em;
      border: 1px solid rgba(25, 165, 255, 0.3);
      line-height: 0;
      background-color: rgba(0, 15, 25, 0.3);
      font-size: 2em;
      color: #666;
      transition: all 0.1s linear;

      &:hover {
        border: 1px solid #19a5ff;
        background-color: rgba(0, 15, 25, 0.5);
        color: #999;
      }
    }
  }

  .navbar {
    position: relative; /* Fix z-index of Safari */
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}

.pagination {
  float: right;
  padding: 0 1em;

  li {
    display: inline-block;
    margin-left: 0.5em;

    &.active a,
    &.disabled a {
      pointer-events: none;
      color: #999;
    }

    a {
      padding: 0.25em 0.5em;
      background-color: rgba(0, 15, 25, 0.3);
      border: 1px solid #19a5ff;
      user-select: none;
    }
  }
}
